*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Manrope', sans-serif;
    overflow-x: hidden;
}

:root{
    --primaryColor : #ff5714;
    --secondaryColor : #ffb800;
    --dark : #333333;
    --white: #fff;
    --primaryOpacityColor : #ff571427;
    --secondaryOpacityColor : #ffb70025;

}
.btn{
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
img{
    max-width: 100%;
}
ul{
    list-style: none;
}
a{
    color: #333;
    text-decoration: none;
}

header{
    background-color: #fff;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}


header .top-section ul:last-child i{
    font-size: 30px;
}

header .top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px;
    background-color: var(--secondaryColor);


}

header .top-section ul{
    display: flex;
    list-style: none;
    gap: 16px;
}


header .logo-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;


}

header .logo-section .logo a{
    display: flex;
    align-items: center;
    gap: 10px;
}

header .logo-section .logo img{
    height: 60px;
}

header .menu ul{
    display: flex;
    align-items: center;
}

header .menu a{
    display: block;
  padding: 30px 15px ;
}

header .menu a:hover{
    background-color: var(--primaryColor);
    color: var(--white);
}

header .user{
    display: flex;
    gap: 10px;
}

header .user .btn{
    background: transparent;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.5s ease;
}

header .user .btn:hover{
background-color: var(--secondaryColor);
}

header .user .btn-signup{
    background-color: var(--primaryColor);
    color: white;
}

.home-page .slider-section{
    display: flex;
}
.home-page .slider-section .left-categories{
    flex: 1;
    padding: 30px 60px;
    background-color: #f8f8f8;
}
.home-page .slider-section .title{
   font-size: 20px;
   margin-bottom: 20px;
}
.home-page .slider-section .right-image{
    flex: 5;
}
.home-page .slider-section .left-categories .cat a {
    display: flex;
    padding: 10px;
    justify-content: flex-start;

}

.home-page .cat a span:last-child{
    margin-left: 10px;
    background-color: var(--primaryOpacityColor);
    padding: 3px 10px;
    border-radius: 100px;
    font-size: 12px;

}
.home-page .right-image {
    position: relative;
}
.home-page .right-image img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.home-page .slider-section .left-categories .search-form{
    display: flex;
    margin-bottom: 10px;
}
.home-page .slider-section .left-categories .search-form .btn-search{
    background-color: var(--primaryColor);
    padding: 10px;
    color: var(--white);
    cursor: pointer;
}
.home-page .slider-section .left-categories .search-form .form-control{
    border: 1px solid var(--primaryColor);
    padding: 10px 15px;
   
}
.home-page .slider-section .left-categories .search-form .form-control:focus{
    outline: none;
  
    box-shadow: 0px 1px 10px var(--primaryColor);
}
.home-page .categories-section{
    padding: 60px;
    display: flex;
    gap: 60px;
    background-color: var(--primaryOpacityColor);
}
.home-page .categories-section .iconWrapper{
    flex: 1;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    background-color: var(--white);
}
.home-page .categories-section .iconWrapper .icon{
    font-size: 35px;
    color: var(--primaryColor);
    margin-bottom: 10px;
}
 .home-page .recent-products-section{
    padding: 60px;
 }
 .home-page .recent-products-section .productWrapper{
    background-color: var(--secondaryOpacityColor);
 }
 .home-page .recent-products-section .productWrapper .info{
    padding: 20px;
 }
 .home-page .recent-products-section .info .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .home-page .recent-products-section .Productgrid{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4,1fr);
 }
 .home-page .recent-products-section .Productgrid .text{
    margin: 15px 0px;
 }
 .home-page .recent-products-section .Productgrid .buttons{
    display: flex;
    gap: 20px;
 }
 .home-page .recent-products-section .Productgrid .btn{
    background-color: var(--primaryColor);
    color: var(--white);
    border-radius: 5px;
 }
 .home-page .recent-products-section .Productgrid .btn:hover{
    background-color:var(--secondaryColor);
 }
 .home-page .productWrapper img{
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 0.5s ease;
 }
 .home-page .productWrapper{
    padding: 15px;
    border-radius: 10px;
    transition: all 0.5s ease;
 }
 .home-page .productWrapper:hover {
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    transform: translateY(-4px);
 }
 .home-page .productWrapper:hover img{
    transform: scale(1.1);
 }
 .home-page .recent-products-section .title{
    font-size: 32px;
    margin-bottom: 20px;
 }
 .home-page .blog-section{
    padding: 60px;
    background-color: var(--primaryOpacityColor);
 }
 .home-page .blog-section .heading{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
 }
 .home-page .blog-section .heading .title{
    font-size: 32px;
 }
 .home-page .blog-section .articles{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
 }
 .home-page .blog-section .articles article{
    background-color: var(--white);
    border-radius: 10px;
    transition: all 0.5s ease;
 }
 .home-page .blog-section .articles article:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
 }
 .home-page .blog-section article .info{
    padding: 30px;
 }
 .home-page .blog-section article figure img{
    max-height: 240px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
 }
 .home-page .blog-section article .info .meta{
    display: flex;
    gap: 20px;
    padding: 5px 0px;
    margin: 15px 0px;
    border-top: 2px dashed gray;
    border-bottom: 2px dashed gray;

 }
 .home-page .blog-section article .info .btn-readmore{
    background-color: var(--primaryColor);
    margin-top: 15px;
    color: white;
    border-radius: 6px;
 }
 .home-page .cta-section{
    background-color: white;
    padding: 0 60px;
    min-height: 50vh;
    display: flex;
    align-items: center;
    gap: 30px;
 }
 .home-page .cta-section .imageWrapper{
    flex: 3;
    
 }
 .home-page .cta-section .imageWrapper img{
   margin-top: -50px;
    
 }
 .home-page .cta-section .info{
    flex: 5;
 }
 .home-page .cta-section .info .title{
    font-size: 32px;
    margin-bottom: 20px;
 }
 .home-page .cta-section .btn-action{
    margin-top: 20px;
    background-color: var(--primaryColor);
    border-radius: 4px;
    color: white;
 }
 footer{
    background-color:#250b00;
    color: white;
    padding: 60px;
    padding-bottom: 0px;
   
 }
 footer .links-section{
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3,1fr);
 }
 footer .links-section .title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
 }
 footer a{
    color: white;
 }
 footer .links-section .footercard:first-child ul{
    display: flex;
 }
 footer .links-section .footercard:first-child h3{
    margin-top: 20px;
 }
 footer .bottom-section{
   
    padding: 10px 0;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-top: 1px dashed rgba(255, 255 , 255, 0.7);
 }
 header .logo-section .user .btn-cart .la-shopping-cart{
   font-size: 27px;
 }

